@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* Illustrations */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
/* End Illustrations */

/* Verse, Poem, Song, Hymn */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:song"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 4em;
	text-indent: -1em;
}
/* End Verse */

/* Start Header */
header{
	margin: 1em;
	text-align: center;
}
/* End Header */

/* Custom Styles (not copied/pasted from the SE manual) */

/* Running Heads/Shoulder Notes (taken from the headers above each printed page, that section the text) */
div.aside{
	border: 1px solid;
	clear: right;
	float: right;
	font-size: .75em;
	font-variant: small-caps;
	hyphens: none;
	-epub-hyphens: none;
	margin: 1em;
	max-width: 40%;
	padding: 1em;
	text-align: initial;
	text-indent: 0;
}

@media(max-width: 10em){
	div.aside{
		float: none;
		max-width: 100%;
	}
}
/* End Running Heads/Shoulder Notes */

section#dedication blockquote{
	font-variant: small-caps;
}

section#chapter-3 ul{
	list-style-type: none;
	margin: 1em 0 1em 2em;
	padding: 0;
}

/* Entire stanza is emphasized. <em> tags throw lint errors */
section#chapter-3 blockquote:nth-of-type(14) p:nth-of-type(3){
	font-style: italic;
}

/* Start The Hideous Man's "Card" */
section#chapter-4 > blockquote:nth-of-type(1){
	border: 1px solid black;
	font-style: italic;
	padding: 1em;
	width: 10em;
}

section#chapter-4 > blockquote:nth-of-type(1) p:nth-of-type(1){
	margin-bottom: 1em;
	text-align: center;
}

section#chapter-4 > blockquote:nth-of-type(1) p:nth-of-type(2){
	text-align: right;
}
/* End The Hideous Man's "Card" */

/* Illustrations */
/* Force dedication and epigraph figure widths, otherwise shows up as 0 */
section[epub|type~="epigraph"] figure,
section[epub|type~="dedication"] figure{
	margin-top: 3em;
	width: 20em;
}

/* Reasonable image sizes for larger screens based on image size and text resolution (roughly ~16 px : 1em at 'normal' sizes in browsers) */
figure#illustration-4,
figure#illustration-7,
figure#illustration-10,
figure#illustration-13,
figure#illustration-14,
figure#illustration-15,
figure#illustration-16,
figure#illustration-20,
figure#illustration-23,
figure#illustration-26{
	max-width: 40em;
}

figure#illustration-19,
figure#illustration-21,
figure#illustration-22,
figure#illustration-24,
figure#illustration-25,
figure#illustration-30,
figure#illustration-31{
	max-width: 30em;
}

figure#illustration-5,
figure#illustration-8,
figure#illustration-11,
figure#illustration-17,
figure#illustration-27,
figure#illustration-28{
	max-width: 20em;
}
